{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel='stylesheet' href="{% static 'home/css/landing.css' %}" />
<link rel='stylesheet' href="{% static 'home/css/carousel.css' %}" />
{% endblock extra_css %}
{% block page_header %}
<div class="container-fluid carousel-container px-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
         <div class="carousel-content">
             <div class="carousel-overlay"></div>
                 <h2 class="callout logo-font"></h2>
                 <a href="{% url 'event_list' %}" class="cta-btn btn btn-lg text-uppercase py-3 rainbow-blur">Get Involved!</a>
        </div>
          <div class="carousel-item active">
            <div class="d-flex align-items-center justify-content-center min-vh-100">
                <img class="d-md-none min-vh-100 min-vw-100" src="{{ MEDIA_URL }}mob1.jpg" alt="First slide">
                <img class="d-none d-md-block min-vh-100 w-100" src="{{ MEDIA_URL }}lrg1.jpg" alt="First slide">
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center justify-content-center min-vh-100">
                <img class="d-md-none min-vh-100 min-vw-100" src="{{ MEDIA_URL }}mob2.jpg" alt="Second slide">
                <img class="d-none d-md-block min-vh-100 w-100" src="{{ MEDIA_URL }}lrg2.jpg" alt="Second slide">
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex align-items-center justify-content-center min-vh-100">
                <img class="d-md-none min-vh-100 min-vw-100" src="{{ MEDIA_URL }}mob3.jpg" alt="Third slide">
                <img class="d-none d-md-block min-vh-100 w-100" src="{{ MEDIA_URL }}lrg3.jpg" alt="Third slide">
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}
<h1>okijodjkwpk[pl]p</h1>

{% block content %}
<section>
    <div class="support-container container">
        <h3 class="text-center support-header mt-4"> WHO WE ARE </h3>
        <p class="header-text">We are a group of people who are passionate about helping people in need, raising awareness for the general public about how they can help the Lgbtq community, and bringing events and workshops closer to you so that you can connect with diverse communities, make new connections, and help those in need.
        </p>
    </div>

    <div class="services pd">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3">
                    <div class="square">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="serv">
                        <h5>Volunteer</h5>
                        <p>Volunteer with us ! We reach out to communities to educate and support indiviuals in rural  areas.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="square">
                        <i class="fas fa-building"></i>
                    </div>
                    <div class="serv">
                        <h5>Workshops</h5>
                        <p>Attend regular workshops about mental health, Harrasment & Volience, lgbt + asylum-seekers e.t.c  organised by trained professionals online. </p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="square">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="serv">
                        <h5>Collaborate</h5>
                        <p>Come join us ! We are always looking for collaborators to help us  organise events and advocate challenges facing the LGBT+ community</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="square">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="serv">
                        <h5>Team</h5>
                        <p> Vibrant Tech Professionals who are impacting lives one day at a time</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="charity-list">FEATURED EVENTS</h4>
                <p class="header-text pt-2">Check out some of the most recent events organized by our members. Feel free to contact the organizers to learn more about the events and share your ideas for bringing everyone together
                Keep in mind that we are all in this together.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="event-container col-10 offset-1">
                    <div class="row event-row">
                        {% for event in event %}
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-4">
                            <div class="card h-100 border-0 space-card">
                                <a href="{% url 'event_detail' event.slug %}">
                                    <div class="space-cards mb-4">
                                        <div class="card event-card card-style mx-auto">
                                            <img src="{{event.featured_image.url}}"
                                                class="card-img-top" alt="{{event.name}}">
                                               
                                            <div class="var">
                                                <h6 class="card-title text-center card-headertext mb-3">{{event.name}}
                                                </h6>
                                                <hr class="card-rainbow mb-4">
                                                <p class="text-color text-center red"><small>{{event.date}} - {{event.time}}</small></p>
                                                <p class="card-subheader text-center mb-2">{{event.loacation}}</p>
                                                <p class="card-subtitle mb-2 text-muted text-center card-subheader"><strong>
                                                    {{event.organizer.username}} |
                                                </strong> (organiser)</p>
                                                </p>
                                            </div> 
                                        </div>
                                        </div>
                             </a>
                            </div>
                        </div>    
                        {% endfor %}    
                    </div>
            </div>
        </div>

        <div class="donate-button text-center">
            <a href="event_list" class="view-btn btn-black btn">
                <span class="text-uppercase">VIEW MORE EVENTS </span>
            </a>
        </div>
    </div>  
</section>
{% endblock %}