{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel='stylesheet' href="{% static 'user_profile/css/profile.css' %}" />
{% endblock extra_css %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <h2 class="col text-center">Profile</h2>
        <hr>
    </div>
</div>

{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 profile-card">
            <h3 class="text-center">{{profile.user.username}}</h3>
            <div class="row mt-4 text-center">
                <div class="col-6">
                    <a href="" class="btn btn-primary">change password</a>
                </div>
                <div class="col-6">
                    <a href="" class="btn btn-primary">change username</a>
                </div>
            </div>
            <div class="row mt-4 text-center">
                <div class="col-6">
                    <a href="" class="btn btn-primary">change email</a>
                </div>
                <div class="col-6">
                    <a href="" class="btn btn-primary">delete account</a>
                </div>
            </div>
            <h4 class="text-center mt-4">Create your own event!</h4>
            <form>
                {% csrf_token %}
            </form>
        </div>
        <div class="col-12 col-md-6 donations-card">
            <h3 class="text-center">Donations</h4>
            <h4 class=" text-center mt-4">Track your donations below!</p>
        </div>
    </div>
</div>

{% endblock %}