{% extends 'base.html' %}
{% load static %}

{% block content %}

    
    <div class="container py-5">
    
     
    {% for event in events %}
    
         <a href="{% url 'event_detail' event.slug %}">
            <div class=" col-sm-6 col-md-4 space-cards">
                <div class="card card-style mx-auto">
                    <img src="{{event.featured_image.url}}"
                        class="card-img-top" alt="">
                       
                    <div class="card-body">
                        <h6 class="card-title card-headertext">{{event.name}}
                        </h6>
                        <p class="text-color red"><small>{{event.date}} - {{event.time}}</small></p>
                        <p class="card-subheader mb-2">{{event.loacation}}</p>
                        <p class="card-subtitle mb-2 text-muted card-subheader"><strong>
                            {{event.organizer.username}} |
                        </strong> (organiser)</p>
                        </p>
                    </div>
                      
                </div>
              
                </div>
     </a>
       

    {% endfor %}
</div>
{% endblock content %}
