img {
    max-height: 100vh;
    object-fit: cover;
}

.carousel {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
}

.carousel-overlay {
    background-color: #222;
    opacity: .6;
    height: 100%;
    width: 100%;
    top: 7px;
    left: 0;
    z-index: 5;
    position: absolute;
}

.cta-btn {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 400 !important;
    background-color: #fff;
    color: black;
    padding: 23px 50px;
    margin: auto;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
}

.rainbow-blur:hover {
    box-shadow: 
    0 0 0 2px violet,
    0 0 0 4px indigo,
    0 0 0 6px blue,
    0 0 0 8px green,
    0 0 0 10px yellow,
    0 0 0 12px orange,
    0 0 0 14px red;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
    transition-property: box-shadow, font-size;
    color: white;
}

.carousel-container {
    position: relative;
    top: -8px;
    height: 80vh;
}