/* homepage */
.header-text {
    text-align: center;
    line-height: 2rem;
    color: var(--orange);
}

/* your CSS goes here*/
.title {
    color: #fa9746;
    margin-bottom: 30px;
    position: relative;
}

.title::before {
    position: absolute;
    left: -29px;
    top: 0;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background-color: #7499f1;
    box-shadow: 0px 4px 4px 0px #aaa;
    border-radius: 4px;
    content: '';
}
.title::after {
    position: absolute;
    left: -19px;
    top: 25px;
    height: 14px;
    width: 14px;
    transform: rotate(45deg);
    background-color: #7499f1;
    box-shadow: 0px 4px 4px 0px #aaa;
    border-radius: 4px;
    content: '';
}
 /* services */
.services {
    padding:40px;
    position: relative;
}
.services .square {
    height: 100px;
    width: 100px;
    margin: 30px auto 40px;
    position: relative;
    border-radius: 15px;
    transform: rotate(45deg);
    padding: 10px;
    background-color:BBAABF;
    box-shadow: 0px 0px 27px 0px #ccc;
    border: 2px dotted #eaf3fa;
}
.square i {
    transform: rotate(315deg);
    display: block;
    color: var(--yellow);
    font-size: 40px;
    padding-top: 17px;
    padding-right: 14px;
}
.services .square::before {
    position: absolute;
    left: -10px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--orange-light);
    content: '';
}
.services .square::after {
    position: absolute;
    left: 50px;
    top: 66px;
    width: 1px;
    height: 88%;
    background-color:var(--orange-light);
    content: '';
    transform: rotate(90deg);
}
.services .serv .num{
    width: 60px;
    height: 60px;
    background-color: #7499f1;
    box-shadow: 0px 0px 15px 0px #00a9d3;
    margin: -38px auto 15px auto;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    padding-top: 7px;
    border: 1px dashed;
}

.services .serv h5 {color: var(--brown);}
.services .serv p {color: var(--orange)}
.services .serv hr {
    width: 30px;
    border-top: 3px solid rgb(0 169 211);
}

.card-container {
    padding: 2rem;
}

.card-headertext {
font-size: 18px;
text-align: left;
padding-left: 5px;
line-height: 159%;
}

.card-subheader {
font-size: 14px;
text-align: left;
color:black;
}

.red{
    color:var(--red);
}
.text-color{
    text-align:left;
}

.card-style{
    width: 18rem !important
}

.view-btn{
    border:1px solid black;
}

.view-btn:hover{
    border:1px solid grey;
}

.support-header{
    font-size:2rem;
    padding:2rem 0;
    color:var(--brown);
}

.brown{
    color:var(--brown);
}

.charity-list{
    padding-top: 2rem;
    color: var(--brown);
}

.btn-black{
    border: 1px solid grey;
    background-color: var(--blue);
    color: white;
}

.btn-black:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 grey;
}

.event-card {
    height: 375px;
    box-shadow: -3px 7px 5px #a19f9f;
    border: 1px solid var(--purple);
}

.card-img-top {
    height: 200px;
    min-height: 200px;
    object-fit: cover;
    padding: 10px;
}

.card-title {
    text-decoration: none!important;
}

.card-rainbow {
    color: var(--purple);
    width: 90%;
    margin: auto;
    box-shadow: 0px 1px var(--purple),
    0px 2px #f48fb1,
    0px 4px #7e57c2,
    0px 6px var(--blue),
    0px 8px var(--green),
    0px 10px var(--yellow),
    0px 12px var(--red);;
    opacity: 1;
    height: 2px;
}

.donate-button{
    padding-bottom:2rem;
    padding-top:1rem;
}

/* for home page */
@media only screen and (max-width: 768px) {
    .space-cards {
        padding-bottom: 1.5rem;
    }

    .card-style {
        width: 100% !important;
    }
}