.event-card {
	height: 375px;
    box-shadow: -3px 7px 5px #a19f9f;
	border: 1px solid var(--purple);
}

.card-img-top {
    height: 200px;
    min-height: 200px;
    object-fit: cover;
    padding: 10px;
}

.card-title {
    text-decoration: none!important;
}

hr {
    color: var(--purple);
    width: 90%;
    margin: auto;
    box-shadow: 0px 1px var(--purple),
    0px 2px #f48fb1,
    0px 4px #7e57c2,
    0px 6px var(--blue),
    0px 8px var(--green),
    0px 10px var(--yellow),
    0px 12px var(--red);;
    opacity: 1;
    height: 2px;
}