/*----- Footer -----*/

.footer-container {
    background-color: var(--purple);
    padding: 2rem 0 0 0;
    color: var(--black);
    width: 100%;
    padding-bottom: 2rem;
}

.logo-header{
    color: var(--yellow);
}

.social-links {
margin-top: 15px;
padding: 0;
}

.social-links li a i {
width: 30px;
height: 30px;
font-size: 13px;
text-align: center;
color: white;
}

.fa-facebook-f:hover {
color: var(--blue);
}

.fa-instagram:hover {
color: var(--orange);
}

.fa-twitter:hover {
color: var(--lightblue);
}

.fa-youtube:hover {
color: var(--red);
}

.service {
line-height: 1.3rem;
}

.general {
color: white;
text-decoration: none;
}

.general:hover {
color: black;
}

.rainbow-shadow {
    text-shadow: -1px 1px var(--purple),
    -2px 2px #f48fb1,
    -4px 4px #7e57c2,
    -6px 6px var(--blue),
    -8px 8px var(--green),
    -10px 10px var(--yellow),
    -12px 12px var(--red);
}