:root {
    --purple: #A64E77;
    --purple-light: #d1176e;
    --blue: #033E8c;
    --blue-light: #6496d6;
    --yellow: #F2E205;
    --yellow-light: #f7ee6f;
    --orange: #BF5B04;
    --orange-light: #eea25f;
    --red: #D91604;
    --red-light: #f77b70;
    --brown : #61150E;
}

body{
    font-family:"Roboto",sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

*{
    margin:0;
    padding:0;
}

/* --------- Navigation bar --------*/
.navbar{
    margin-bottom:0;
    border:0;
    width:100%;
    background-color: var(--purple);
    padding: .4rem 1rem;
    text-align: center;
}

.navbar{
    height:5rem;
}

.navbar-brand{
    font-weight:500;
    font-size:1.7rem;
    color:white;
    letter-spacing: 3px;
    padding:5px 2px 5px 4px;
}

.navbar-nav li {
    font-weight:200;
    font-size:1.2rem;
    color:white;
    letter-spacing:2px;  
}

.nav-item {
    padding:4px 3px 5px 3px;
    color: white;
}

.nav-item a:hover{
    cursor:pointer;
    box-shadow:0 0.1rem 1.2rem 0 rgba(226, 230, 15, 0.152);
    color: var(--yellow);
    border-radius:3px;
    background-color: white; 
}
.navbar .navbar-toggler {
    border: 0;
}


#navbarSupportedContent{
    background-color: var(--purple);;
}

/*----- Footer -----*/

.footer-container {
    background-color: var(--purple);
    padding: 2rem 0 0 0;
    color: var(--black);
    width: 100%;
    padding-bottom: 2rem;
}

.logo-header{
    color: var(--yellow);
}

.social-links {
margin-top: 15px;
padding: 0;
}

.social-links li a i {
width: 30px;
height: 30px;
font-size: 13px;
text-align: center;
color: white;
}

.fa-facebook-f:hover {
color: var(--blue);
}

.fa-instagram:hover {
color: var(--orange);
}

.fa-twitter:hover {
color: var(--lightblue);
}

.fa-youtube:hover {
color: var(--red);
}

.service {
line-height: 1.3rem;
}

.general {
color: white;
text-decoration: none;
}

.general:hover {
color: black;
}


/* donation page */

.hero-image-text{
    letter-spacing: 10px;
    line-height:4rem;
    font-weight: bold;
    text-align: center;
    padding: 3rem 0 1rem 0;
    font-family: Roboto,sans-serif;
    color:white;
    font-size: 2.2rem;

    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;

}
/* animation effect from previous project LILELI */

@keyframes stretch{
    from{
      transform: scale(0.6);
    }
    to{
      transform: scale(1);
    }
  }

.header-container {
    width:100%;
    background: url('/media/heroimage.jpeg') no-repeat center center fixed;  
    object-fit: cover;
    padding-top: 4rem;
    height: 45vh;
}

.support-container{
    color: var(--brown);
    padding: 3rem 0;
}

.support-header{
    font-size:2rem;
    padding:2rem 0;
}

.support-text {
    text-align: center;
    line-height: 2rem;
}

.ways-header{
    color: var(--brown);
    font-size:1.6rem;
    padding-bottom:1rem;
}

.ways-list{
    padding:1.5rem 0;
}

.donate-button .btn{
    color:white;
    border:#ffff;
    background-color:var(--blue)
}

.btn-white{
    background-color: transparent;
    color:black;
}

.donate-button a:hover{
        cursor:pointer;
        box-shadow:0 0.1rem 1.2rem 0 rgba(226, 230, 15, 0.152);
        color: white;
        background-color:var(--blue)
}

.donate-btn{
    line-height: normal;
    border: 1px solid ;
    text-align: center;
}

.charity-list{
    padding-top: 2rem;
    color: var(--brown);
}

.list-of-charities{
    padding-top:1rem;
    text-transform: uppercase;
}

.org{
    padding-top: 2rem;
    padding-bottom: 3rem;
}


/* homepage */
.header-text {
    text-align: center;
    line-height: 2rem;
    color: var(--red)
}

/* your CSS goes here*/
.title {
    color: #fa9746;
    margin-bottom: 30px;
    position: relative;
}

.title::before {
    position: absolute;
    left: -29px;
    top: 0;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
    background-color: #7499f1;
    box-shadow: 0px 4px 4px 0px #aaa;
    border-radius: 4px;
    content: '';
}
.title::after {
    position: absolute;
    left: -19px;
    top: 25px;
    height: 14px;
    width: 14px;
    transform: rotate(45deg);
    background-color: #7499f1;
    box-shadow: 0px 4px 4px 0px #aaa;
    border-radius: 4px;
    content: '';
}
 /* services */
.services {
    padding:40px;
    position: relative;
}
.services .square {
    height: 100px;
    width: 100px;
    margin: 30px auto 40px;
    position: relative;
    border-radius: 15px;
    transform: rotate(45deg);
    padding: 10px;
    background-color:BBAABF;
    box-shadow: 0px 0px 27px 0px #ccc;
    border: 2px dotted #eaf3fa;
}
.square i {
    transform: rotate(315deg);
    display: block;
    color: var(--yellow);
    font-size: 40px;
    padding-top: 17px;
    padding-right: 14px;
}
.services .square::before {
    position: absolute;
    left: -10px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: var(--orange-light);
    content: '';
}
.services .square::after {
    position: absolute;
    left: 50px;
    top: 66px;
    width: 1px;
    height: 88%;
    background-color:var(--orange-light);
    content: '';
    transform: rotate(90deg);
}
.services .serv .num{
    width: 60px;
    height: 60px;
    background-color: #7499f1;
    box-shadow: 0px 0px 15px 0px #00a9d3;
    margin: -38px auto 15px auto;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    padding-top: 7px;
    border: 1px dashed;
}

.services .serv h5 {color: var(--brown);}
.services .serv p {color: var(--red)}
.services .serv hr {
    width: 30px;
    border-top: 3px solid rgb(0 169 211);
}

.card-container {
    padding: 2rem;
}

.card-headertext {
font-size: 18px;
text-align: left;
padding-left: 5px;
line-height: 159%;
}

.card-subheader {
font-size: 14px;
text-align: left;
color:black;
}

.red{
    color:var(--red);
}
.text-color{
    text-align:left;
}

.card-style{
    width: 18rem !important
}

.view-btn{
    border:1px solid black;
}

.view-btn:hover{
    border:1px solid grey;
}


/* for home page */
@media only screen and (max-width: 768px) {
    .space-cards {
        padding-bottom: 1.5rem;
    }

    .card-style {
        width: 100% !important;
    }
}