:root {
    --purple: #A64E77;
    --purple-light: #d1176e;
    --blue: #033E8c;
    --blue-light: #6496d6;
    --yellow: #F2E205;
    --yellow-light: #f7ee6f;
    --orange: #BF5B04;
    --orange-light: #eea25f;
    --red: #D91604;
    --red-light: #f77b70;
    --brown : #61150E;
}

body{
    font-family:"Roboto",sans-serif;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

*{
    margin:0;
    padding:0;
}

.header-container {
    width:100%;
    background: url('/media/heroimage.jpeg') no-repeat center center fixed;  
    object-fit: cover;
    padding-top: 4rem;
    height: 45vh;
}

.text-black{
    color:var(--orange);
}

.header-text{
    color:var(--brown);
    letter-spacing:1px;
    padding: 2rem 1rem;
    text-align: center;
}

.red{
    color:var(--red);
}