:root {
    --purple: #A64E77;
    --purple-light: #d1176e;
    --blue: #033E8c;
    --blue-light: #6496d6;
    --yellow: #F2E205;
    --yellow-light: #f7ee6f;
    --orange: #BF5B04;
    --orange-light: #eea25f;
    --red: #D91604;
    --red-light: #f77b70;
}


