/* donation page */

.hero-image-text{
    letter-spacing: 10px;
    line-height:4rem;
    font-weight: bold;
    text-align: center;
    padding: 3rem 0 1rem 0;
    font-family: Roboto,sans-serif;
    color:white;
    font-size: 2.2rem;

    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;

}
/* animation effect from previous project LILELI */

@keyframes stretch{
    from{
      transform: scale(0.6);
    }
    to{
      transform: scale(1);
    }
  }

.header-container {
    width:100%;
    background: url('/media/heroimage.jpeg') no-repeat center center fixed;  
    object-fit: cover;
    padding-top: 4rem;
    height: 45vh;
}

.support-container{
    color: var(--brown);
    padding: 3rem 0;
}

.support-header{
    font-size:2rem;
    padding:2rem 0;
}

.support-text {
    text-align: center;
    line-height: 2rem;
}

.ways-header{
    color: var(--brown);
    font-size:1.6rem;
    padding-bottom:1rem;
}

.ways-list{
    padding:1.5rem 0;
}

.donate-button .btn{
    color:white;
    border:#ffff;
    background-color:var(--blue)
}

.btn-white{
    background-color: transparent;
    color:black;
}

.donate-button a:hover{
        cursor:pointer;
        box-shadow:0 0.1rem 1.2rem 0 rgba(226, 230, 15, 0.152);
        color: white;
        background-color:var(--blue)
}

.donate-btn{
    line-height: normal;
    border: 1px solid ;
    text-align: center;
}

.charity-list{
    padding-top: 2rem;
    color: var(--brown);
}

.list-of-charities{
    padding-top:1rem;
    text-transform: uppercase;
}

.org{
    padding-top: 2rem;
    padding-bottom: 3rem;
}


/* donation page */ 
.donations-container{
    margin:0 auto;
}

.btn-outline-black {
    background: var(--blue);
    color: white !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: var(--blue);
    color: white !important;
}


/* stripe payment */
.StripeElement,
.stripe-style-input {
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

#payment-form .form-control,
#card-element {
    color: #000;
} 


.donation-form{
    padding:2rem 0;
}

.card-panel{
    border: 1px solid grey;
    padding: 24px; 
}

.support-us{
    color: var(--brown);
    font-size:1.6rem;
    padding: 2rem 0;
}

.btn-black{
    border: 1px solid grey;
    background-color: var(--blue);
    color: white;
}

.btn-black:hover{
    cursor:pointer;
    box-shadow:0 0 1rem 0 #1613b0;
}

.sucess-container{
    padding:2rem 0;
}

.header-text {
    text-align: center;
    line-height: 2rem;
    color: var(--red)
}

.donate-us{
    color: var(--brown);
    font-size:1.2rem;
    padding: 1rem 0;
}

.text-black{
    color:var(--red);
}


.loader {
  border: 1.1em solid #f3f3f3; /* Light grey */
  border-top: .8em solid #3498db; /* Blue */
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}