{% load static %}
{% block extra_css %}
<link rel='stylesheet' href="{% static 'css/footer.css' %}" />
{% endblock extra_css %}
<footer id="footer">
    <div class="container-fluid footer-container">
        <div class="row">
            <div class="col-6 pt-3 col-sm-4 footer-content text-center margin-auto">
                <div class="community text-center">
                    <h4 class="logo-header rainbow-shadow">
                        US TOGETHER
                    </h4>
                </div>
                <ul class="social-links">
                    <li class="list-inline-item social">
                        <a href="https://www.facebook.com/" target="_blank"
                            aria-label="Find us on Facebook" rel="noopener">
                            <i class="fab fa-facebook-f"
                                aria-hidden="true"></i>
                            <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item social">
                        <a href="https://www.instagram.com/" target="_blank"
                            aria-label="Find us on Instagram"
                            rel="noopener">
                            <i class="fab fa-instagram"
                                aria-hidden="true"></i>
                            <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item social">
                        <a href="https://twitter.com/" target="_blank"
                            aria-label="Find us on Twitter" rel="noopener">
                            <i class="fab fa-twitter"
                                aria-hidden="true"></i>
                            <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                    <li class="list-inline-item social">
                        <a href=" https://www.youtube.com/" target="_blank"
                            aria-label="Find us on Youtube" rel="noopener">
                            <i class="fab fa-youtube"
                                aria-hidden="true"></i>
                            <span class="sr-only">Youtube</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-4 ">
                <div class="community text-center d-none d-sm-block">
                    <h5 class="general">Contact Us </h5>
                    <p class="general pt-3">Tel : +345678997</p>
                    <p class="general">Email : bringustogether@gmail.com</p>
                    <p class="general footer-info">Head Office: Plot 56B Kashington street, KB Islands</p>            
                </div>
            </div>
            <div class="col-sm-4">
                <div class="services text-center d-none d-sm-block">
                    <h6 class="service general pt-2">Privacy Policy</h6>
                    <h6 class="service">
                        <a href=""
                            class="general">Terms & Conditions
                        </a>
                    </h6>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-12">
                <p class="text-center">Copyright &copy;US TOGETHER 2022 All rights reserved. <span id="copyright"></span> </p>
            </div>
        </div>
    </div>
</footer>
