{% load static %}
{% block extra_css %}
<link rel='stylesheet' href="{% static 'css/navbar.css' %}" />
{% endblock extra_css %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand rainbow-shadow" href="{% url 'home' %}"> US TOGETHER </a>
      <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="menu" class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'event_list' %}">EVENTS </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'donate' %}">DONATE </a>
          </li>
          {% if request.user.is_authenticated %}
              <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            MY ACCOUNT
            </a>
            <ul class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
             
                <li><a class="dropdown-item" href="{% url 'profile' %}">PROFILE</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">LOGOUT</a></li>
            </ul>
          </li>
          {% else %}
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'account_signup' %}">SIGN UP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'account_login' %}">Login</a>
          </li>
          {% endif %}
          
        </ul>
      </div>
    </div>
  </nav>

