{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel='stylesheet' href="{% static 'charity/css/charity.css' %}" />
{% endblock extra_css %}
{% block page_header %}
    <div class="header-container container-fluid">
        <div class="row ">
            <div class="col-sm-12 header-image">
                <h2 class="hero-image-text"> BE AN ALLY </h2>
                </p> 
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
    <div class="support-container container">
        <h3 class="text-center support-header"> WHY SUPPORT US ? </h3>
        <p class="support-text">Over the years, we have seen more people in crisis than ever before, with the pandemic displacing a large number of people. We want to help as many people as possible by donating funds to organizations that assist every LGBT person in need. We always want people to know they are not alone and that we are here to help them.
        <br>

        We have partnered with some LGBTQ charities in countries where anti-gay laws exist to provide people in need with a reassuring voice and a friendly face.
        </p>
    </div>

    <div class="ways-donate">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="ways-header">WAYS YOU CAN DONATE</h3>
            </div>

            <div class="col-sm-8 offset-sm-2">
                <ol class="list-ways text-center">
                    <li>Online : You can easily make a donation by using our stripe payment provider to help change people’s lives. </li>
                    <li class="ways-list">Transfer :We also take bank transfers from corporate and private individuals . Kindly Click here to make a transfer. </li>

                    <h4 class="donate-button">
                        <a href="{% url 'make-donation' %}" class="donate-btn btn text-uppercase py-3">
                            DONATE
                        </a>
                    </h4>
                </ol>
            </div>
        </div>
    <div>
    
    <div class="charity-organisations">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="charity-list">CHARITIES WE PARTNER WITH</h4>
            </div>
        </div>

        <div class="row pt-4">
            <div class="col-md-3">
                <div class="org text-center">
                    <div class="image">
                        <img src="{{ MEDIA_URL }}consent.png" width="36" alt="consent workshop logo"/>
                    </div>
                    <h6 class="list-of-charities">Consent Workshop</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="org text-center">
                    <div class="image">
                        <img src="{{ MEDIA_URL }}globalgiving.png"  class="img-fluid about-image" width="36" alt="global living logo"/>
                    </div>
                    <h6 class="list-of-charities">Global Living </h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="org text-center">
                    <div class="image">
                        <img src="{{ MEDIA_URL }}outrightaction.png" width="36" alt="outright international logo"/>
                    </div>
                    <h6 class="list-of-charities">Outright International</h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="org text-center">
                    <div class="image">
                        <img src="{{ MEDIA_URL }}microrainbow.png" width="36" alt="Micro rainbow logo"/>
                    </div>
                    <h6 class="list-of-charities">Micro Rainbow</h6>
                </div>
            </div> 
        </div>
    </div>

</section>
{% endblock %}