{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel='stylesheet' href="{% static 'charity/css/charity.css' %}" />
{% endblock extra_css %}


{% block content %}
<section>
    
    <div class="container-fluid">
        <div class="row ">
            <div class="col-12 col-md-6 donations-container">
                <div class="col-sm-12 text-center">
                    <h3 class="support-us">THANK YOU FOR SUPPORTING US!!</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 donations-container">
                <form class="row donation-form mb-2" method="POST"  action="{% url 'make-donation' %}" id="payment-form" enctype="multipart/form-data">
                    <div class="card-panel">
                        {% csrf_token %}
                        <fieldset class="rounded px-3 mb-5">
                            {{ form }}
                        </fieldset>
                
                        <!--User's payment information-->
                        <fieldset class="px-3">
                            <legend class="fieldset-label small text-black px-2 w-auto">Payment Details</legend>
                            <!-- The Stripe card element -->
                            <div class="mb-3" id="card-element"></div>

                            <!-- display form errors -->
                            <div class="mb-3 text-danger" id="card-errors" role="alert"></div>

                            <!-- Pass the client secret to the view so we can get the payment intent id -->
                            <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        </fieldset>

                        <div class="submit-button text-center mt-5 mb-2">
                            <a href="{% url 'donate' %}" class="btn btn-black mb-2 rounded-0">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">CANCEL</span>
                            </a>
                            <button id="submit-button" class="btn btn-black mb-2 rounded-0">
                                <span class="text-uppercase">COMPLETE PAYMENT</span>
                                <span class="icon">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>          
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'charity/js/stripe.js' %}"></script> 
{% endblock %}