

.dash-wrapper .nav-item {
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.dash-wrapper {
    min-height: 60vh;
}

@media screen and (max-width: 780px) {
    main {
        min-height: 80vh!important;
    }
}