{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="header-container container-fluid">
        <div class="row ">
            <div class="col-sm-12 header-image">
                <h2 class="hero-image-text"> BE AN ALLY </h2>
                </p> 
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center mt-5 mb-5">
                <h4 class="header-text text-capitalize"> Whoops! something went wrong.</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 text-center pt-3 pb-3">
                <p class="text-center pb-4 text-black lead"> Unfortunately,there has been an issue and we appologise for the inconvenience.</p>
            </div>
            <div class="col-12 text-center mb-5">
                <p>
                <a href="{% url 'event_list' %}" class="btn btn-black rounded-0 text-uppercase mt-3">RETURN TO EVENTS</a>
                </p>
            </div>           
        </div>
    </div>
{% endblock %}