<div class="container col-12 col-sm-10 col-lg-8 py-5 comments-container" >
<div class="row">
    <div class="col-6 text-start d-flex justify-content-between align-items-center">
        <h5 class="display-5 ">Comments</h5>
        {% if request.user.is_authenticated %}
        <div><button data-bs-toggle="modal" data-bs-target="#create-comment" class=' btn btn-primary btn-small '>Add comment</button></div>
        {% endif %}
    </div>
</div>

    {% for comment in comments %}
    <div class="media row text-muted pt-3  ">
        <div class="d-flex justify-content-between">
        <strong class="d-block text-gray-dark">@{{comment.user.username}}</strong>
                {% if comment.user == request.user %}
                 <div class="edit-delete">
                    <a href=""><i data-bs-toggle="modal" ata-bs-target="#comment-modal" id="update-comment-btn" class="fas px-2 fa-edit"></i></a>
                    <a href="{% url 'comment_delete' comment.pk %}"><i data-bs-target="#delete-comment-modal" id="delete-comment-btn" class="fas fa-trash-alt"></i></a>
                </div>
                {% endif %}  
        </div>
    </div>
    
    <div class="row border-bottom pb-3 mb-0 border-gray">
      

        {{comment.body|linebreaksbr}}
    </div>
    {% endfor %}

{% include 'event/snippets/create_comment_modal.html' %}
    
</div>