<!-- Modal -->
<div class="modal fade" id="create-comment" tabindex="-1" aria-labelledby="create-comment" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="create-comment-title">What would you like to say?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <form method='POST' action="{% url 'comment_create' event.pk %}">{% csrf_token %}
      <div class="modal-body">
       
            <div class="mb-3">
                <label for="comment-body" class="form-label">Comment</label>
                <textarea name='comment_body' required type="text" class="form-control" id="comment-body" aria-describedby="comment-body" ></textarea>
            </div>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit"class="btn btn-primary">Post Comment</button>
      </div>
       </form>
    </div>
  </div>
</div>